.container {
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
  margin: 0 auto;
}
.header-navigation {
  display: flex;
}
.header-logo {
  color: #212121;
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
  margin-top: 24px;
}
span {
  color: #2196f3;
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}
.header-navigation-list {
  display: flex;
  column-gap: 50px;
  margin-top: 32px;
  margin-left: 93px;
  margin-right: 318px;
  margin-bottom: 32px;
}
.header-list-item {
  color: #212121;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}
.header-list-item:hover {
  color: #2196f3;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}
.header-address-list {
  margin-top: 32px;
  display: flex;
}
.header-address-mailto {
  color: #757575;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  margin-right: 30px;
  display: flex;
  align-items: center;
}
.header-address-mailto:hover {
  color: #2196f3;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}
.lettres-svg {
  fill: currentColor;
  color: #757575;
  margin-right: 10px;
}
.header-address-mailto:hover .lettres-svg {
  color: #2196f3;
}
.header-address-tel {
  color: #757575;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  display: flex;
  align-items: center;
}
.header-address-tel:hover {
  color: #2196f3;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.smartphone-svg {
  fill: currentColor;
  color: #757575;
  margin-right: 10px;
}
.header-address-tel:hover .smartphone-svg {
  color: #2196f3;
}
.portfolio {
  margin-top: 94px;
  margin-bottom: 94px;
}
.portfolio-button-list {
  display: flex;
  gap: 8px;
  margin-left: 322px;
}
.portfolio-button-item {
  border-radius: 4px;
  background: #f5f4fa;
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.48px;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
}
.portfolio-button-item:hover {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 4px;
  background: #2196f3;
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.48px;
}
.card-list {
  margin-top: 56px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}
.card-item {
  width: 370px;
  height: 404px;
  flex-shrink: 0;
  border: 1px solid #eee;
  background: #fff;
}
.card-title {
  color: #212121;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 1.08px;
  margin-top: 20px;
  margin-bottom: 0;
  margin-left: 24px;
}
.card-text {
  color: #757575;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.48px;
  margin-left: 24px;
  margin-top: 0;
  margin-bottom: 20px;
}
.footer {
  padding-top: 72px;
  background: #2f303a;
  padding-bottom: 60px;
}
.footer-logo {
  color: #fff;
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}
.footer-address {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
.flex-container {
  display: flex;
  column-gap: 70px;
}
.footer-address-text {
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  margin-bottom: 9px;
}
.footer-address-mailto {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  margin-bottom: 9px;
}
.footer-address-tel {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}
.footer-social-title {
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-top: 12px;
}
.footer-social-list {
  display: flex;
  margin-top: 20px;
  gap: 10px;
}
.footer-social-link {
  display: flex;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
.footer-social-link-svg {
  margin-top: 12px;
  margin-left: 12px;
  fill: currentColor;
  color: #fff;
}
.footer-social-link:hover {
  background-color: #2196f3;
}
